/* About */
.about {
  @media screen and (max-width: 767px) {
    padding-top: 84px;
    padding-bottom: 84px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    padding-top: 139px;
    marpaddinggin-bottom: 121px;
  }

  &__photo {
    @media screen and (min-width: 1280px) {
      display: flex;
    }
  }

  &__photo li + li {
    @media screen and (max-width: 1279px) {
      margin-top: 30px;
    }
    @media screen and (min-width: 1280px) {
      margin-left: 20px;
    }
  }
  &__img {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (max-width: 1279px) {
      width: 330px;
      height: 235px;
    }
    display: block;
  }
}
.about-discription {
  @media screen and (max-width: 767px) {
    margin-left: 0;
    &__title {
      font-size: 28px;
      line-height: 1.18;
      width: 330px;
    }
    &__text {
      font-size: 16px;
      line-height: 1.63;
    }
  }
  @media screen and (max-width: 1279px) {
    &__title {
      font-size: 28px;
      line-height: 1.18;
    }
    &__text {
      font-size: 14px;
      line-height: 1.86;
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 64px;
  }
  &__subtitle,
  &__title,
  &__text {
    margin-bottom: 20px;
  }
  &__discription {
    margin-bottom: 40px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 1.86;
    color: $color-text;
  }
}
