.why-we {
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;

    flex-direction: column-reverse;
  }
  @media screen and (min-width: 768px) {
    flex-direction: column-reverse;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  display: flex;
  @media screen and (min-width: 1280px) {
    flex-direction: inherit;
    padding-top: 121px;
    padding-bottom: 130px;
  }

  &__blok {
    @media screen and (min-width: 1280px) {
      width: 50%;
    }
  }
  &__blok-left {
    width: 370px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      margin-right: 0;
    }
    @media screen and (min-width: 1280px) {
      margin-right: auto;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: $color-title;
  }
  &__item {
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    background-color: $color-background-amt;
  }
  &__item:nth-child(odd) {
    margin-right: 30px;
  }
  &__item:nth-child(even) {
    margin-top: 30px;
  }
  &__item:nth-child(2) {
    margin-top: 35px;
  }
  &__amt {
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  &__amt::after {
    content: '+';
    color: $color-acent;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    padding-top: 8px;
  }
  &__item--size {
    padding: 20px;
  }
  &__blok-right {
    @media screen and (max-width: 767px) {
      margin-bottom: 44px;
    }
    @media screen and (min-width: 768px) {
      padding-right: 190px;
      margin-bottom: 44px;
    }
    @media screen and (min-width: 1280px) {
      padding-right: 110px;
      margin-bottom: 0;
    }
  }
  &__subtitle,
  &__title {
    color: $color-title;
    margin-bottom: 20px;
  }
}
